$size: "";
$numColum: "";
$numRow: "";

@mixin for-size($size) {
    @if $size == phone {
        @media (max-width: 476px) { @content; }
    } @else if $size == tablet {
        @media (min-width: 477px) and (max-width: 866px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 867px) and (max-width: 1175px) { @content; }
    } @else if $size == big-desktop {
        @media (min-width: 1176px) { @content; }
    }
}
@mixin gridTemplate($numColumn, $numRow) {
    grid-template-columns: $numColumn;
    grid-template-rows: $numRow
}

@mixin gridItemTemplate($numColStart, $numColEnd, $numRowStart, $numRowEnd ) {
    grid-column-start: $numColStart;
    grid-column-end: $numColEnd;
    grid-row-start: $numRowStart;
    grid-row-end: $numRowEnd;
}
body {
    margin: 0;
    padding: 0;
}

.content {
    background-color:  grey;
    color: white;
    display: grid;
    @include gridTemplate(100% , 10% 45% 45% );
    min-height: 100vh;

    @include for-size(tablet) {
        min-height: 100vh;
        @include gridTemplate(100% , 20% 40% 40% );
    }
    @include for-size(desktop) {
        min-height: 50vh;
        @include gridTemplate(30% auto , 50% 50% );      
        width: 970px;
        margin: 0 auto;
    }
    @include for-size(big-desktop) {
        min-height: 50vh;
        @include gridTemplate(30% auto , 50% 50% );
        width: 970px;
        margin: 0 auto;
    }
    
  
    .nav {
        background-color: pink;
        @include gridItemTemplate( 1, 2, 1, 2);

        @include for-size(tablet) {
            @include gridItemTemplate( 1, 2, 1, 2);
        }
        @include for-size(desktop) {
            @include gridItemTemplate( 1, 2, 1, 3);
        }
        @include for-size(big-desktop) {
            @include gridItemTemplate( 1, 2, 1, 3);
        }
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            @include for-size(tablet) {
                flex-direction: column;
            }
            @include for-size(desktop) {
                flex-direction: column;
            }
            @include for-size(big-desktop) {
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: space-between;
                align-items: stretch;
            }
            li {
                
                display: flex;
                flex: 1 1 auto;
                align-self: auto;
                @include for-size(tablet) {
                   
                    display: flex;
                    flex: 1 1 auto;
                    align-self: auto;
                }
                @include for-size(desktop) {
                    
                    display: flex;
                    flex: 1 1 auto;
                    align-self: auto;
                }
                @include for-size(big-desktop) {
                    
                    display: flex;
                    flex: 1 1 auto;
                    align-self: auto;
                }
            }
        }
    }
    .section {
        
        padding: 2em;
        box-sizing: border-box;
        &.item-a {
            background-color: yellow;
            @include gridItemTemplate( 1, 2, 2, 3);

            @include for-size(tablet) {
                @include gridItemTemplate( 1, 2, 2, 3);
            }
            @include for-size(desktop) {
                height: 50vh;
                @include gridItemTemplate( 2, 3, 1, 2);
            }
            @include for-size(big-desktop) {
                height: 50vh;
                @include gridItemTemplate( 2, 3, 1, 2);
            }
        }
        &.item-b {
            background-color: blue;
            @include gridItemTemplate( 1, 2, 3, 4);

            @include for-size(tablet) {
                @include gridItemTemplate( 1, 2, 3, 4);
            }
            @include for-size(desktop) {
                height: 50vh;
                @include gridItemTemplate( 2, 3, 2, 3);
            }
            @include for-size(big-desktop) {
                height: 50vh;
                @include gridItemTemplate( 2, 3, 2, 3);
            }
        }
    }
}