
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

$theme: 1;

$principlaFont: 'Roboto', sans-serif;
$secundaryFont: 'Lato', sans-serif;

$bg_Base: red;
$bg_Important: darkred;
$bg_Warning: pink;

$border_radius: 3px;

$shadow: -13px 11px 15px 3px rgba(0,0,0,0.61);